<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Management System{% endblock %}</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Management</a>
        <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" href="{% url 'profile_list' %}">Profiles</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'work_experience_list' %}">Work Experiences</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'academic_education_list' %}">Academic Educations</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'soft_skill_list' %}">Soft Skills</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'hard_skill_list' %}">Hard Skills</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'language_list' %}">Languages</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'volunteering_list' %}">Volunteerings</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'project_list' %}">Projects</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'recognition_award_list' %}">Recognitions & Awards</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'certification_course_list' %}">Certifications & Courses</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'publication_list' %}">Publications</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'user_cv_list' %}">User cv</a></li>
    </ul>
</div>
    </nav>
    <div class="container mt-4">
        {% block content %}
        {% endblock %}
    </div>
    <footer class="text-center mt-5">
        <p>&copy; Initium 2024</p>
    </footer>
    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
