{% extends "users/base.html" %}

{% block content %}
  <style>
    /* Estilo para el texto amarillo en el encabezado */
    .header-text-yellow {
      color: rgb(223, 185, 15) !important;
    }
  </style>

  <div class="container mt-5">
    <div class="card shadow-lg">
      <!-- Aplicamos el fondo azul marino y la clase personalizada para texto amarillo -->
      <div class="card-header" style="background-color: #003366; text-align: center; padding: 20px;">
        <h2 class="mb-0 header-text-yellow">{{ headhunter.user.username }}</h2>
        <h5 class="font-italic header-text-yellow">{{ headhunter.company }}</h5>
      </div>
      <div class="card-body">
        <div class="row">
          <!-- Foto de perfil -->
          <div class="col-md-4 text-center">
            {% if headhunter.profile_photo %}
              <img src="{{ headhunter.profile_photo.url }}" alt="Profile Photo" class="img-fluid rounded-circle mb-3" style="max-width: 150px;">
            {% else %}
              <div class="alert alert-warning">Imagen no disponible</div>
            {% endif %}
          </div>

          <!-- Información -->
          <div class="col-md-8">
            <h3 class="mb-3">Mis Datos</h3>
            <ul class="list-unstyled">
              <li><strong class="text-dark">Teléfono:</strong> <span class="text-dark">{{ headhunter.phone }}</span></li>
              <li><strong class="text-dark">Rango:</strong> <span class="text-dark">{{ headhunter.position }}</span></li>
              <li><strong class="text-dark">Sitio Web:</strong> 
                {% if headhunter.website %}
                  <span class="text-dark">{{ headhunter.website }}</span>
                {% else %}
                  <span class="text-muted">No disponible</span>
                {% endif %}
              </li>
              <li><strong class="text-dark">LinkedIn:</strong> 
                {% if headhunter.linkedin_profile %}
                  <span class="text-dark">Perfil de LinkedIn</span>
                {% else %}
                  <span class="text-muted">No disponible</span>
                {% endif %}
              </li>
              <li><strong class="text-dark">Ubicación:</strong> <span class="text-dark">{{ headhunter.city }}, {{ headhunter.country }}</span></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card-footer text-center">
        <!-- Botones de acción -->
        {% if request.user == headhunter.user %}
          <a href="{% url 'headhunter_update' pk=headhunter.pk %}" class="btn btn-warning me-2 btn-lg">Editar</a>
          <a href="{% url 'headhunter_delete' pk=headhunter.pk %}" class="btn btn-danger btn-lg">Eliminar</a>
        {% else %}
          <!-- Botón Volver a oferta -->
          <button onclick="window.history.back();" class="btn btn-secondary btn-lg">Volver a Oferta</button>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
