{% extends "users/base.html" %}
{% load static %}

{% block content %}
  <div class="container mt-4">
      <h1>Candidatos</h1>

      <!-- Filtros -->
    <style>
        .headhuntersfiltersform {
            background-color: #1d3557 !important; 
            border-radius: 0.375rem;
            color: rgb(0, 0, 0);
            padding: 1rem;
        }
        /* Aseguramos que los inputs, selects, y etiquetas tengan el texto blanco */
        .headhuntersfiltersform .form-control{
            background-color: #ffffff !important; 
        }
        .headhuntersfiltersform .form-select{
            background-color: #ffffff !important; /* Azul marino */
        }
        .headhuntersfiltersform .form-label {
            color: white !important; /* Texto blanco */
        }
        .custom-yellow-btn {
        background-color: #e4bc0c !important; /* Color amarillo específico */
        color: rgb(0, 0, 0); /* Aseguramos que el texto sea blanco */
        }

        .custom-yellow-btn:hover {
        background-color: #b58d0a !important; /* Color ligeramente más oscuro para el hover */
        color: rgb(0, 0, 0); /* Mantener el texto blanco en hover */
        }

         /* Estilo para los checkboxes más modernos */
         .candidate-checkbox {
            width: 20px;
            height: 20px;
            margin-right: 10px;
            cursor: pointer;
        }

        /* Personalización de checkboxes usando border radius y estilo de Bootstrap */
        .candidate-checkbox:checked {
            background-color: rgb(14, 219, 32);
            border-color: rgb(14, 219, 32);
        }

        .candidate-checkbox:focus {
            border-color: #0056b3;
            box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.25);
        }

        /* Estilo para las imágenes para que sean circulares sin perder calidad */
        .candidate-img {
            width: 100px; /* Ajusta el tamaño según lo que necesites */
            height: 100px;
            object-fit: cover;
            border-radius: 50%; /* Hace que la imagen sea circular */
        }

        /* Versión más grande de la imagen para pantallas Retina */
        @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
            .candidate-img {
                width: 200px;
                height: 200px;
            }
        }

        /* Asegurando que los nombres de los candidatos se vean bien */
        .candidate-name {
            color: #000000; /* Azul claro para el nombre */
            font-weight: bold;
            text-decoration: none;
            margin-left: 10px; /* Espaciado entre la imagen y el nombre */
        }

        /* Asegurando que el nombre se vea correctamente en diferentes pantallas */
        .candidate-name:hover {
            color: #000000;
        }

        .candidate-info {
            display: flex;
            align-items: center; /* Para alinear imagen y nombre */
            gap: 10px;
        }

        /* Asegurando que la dirección también se vea de forma adecuada */
        .candidate-address {
            font-size: 0.9rem;
            color: #6c757d;
        }

        /* Espaciado y estilo para las tarjetas de candidato */
        .candidate-card {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    </style>

    <form method="get" class="mb-4 p-4 bg-light rounded-3 shadow-sm headhuntersfiltersform">
    <div class="row gy-3">
        <div class="col-md-4 col-sm-12">
            <label for="location" class="form-label text-primary fw-bold">Ubicación:</label>
            <input type="text" name="location" id="location" class="form-control border-primary rounded-3 shadow-sm" placeholder="Ej. Barcelona" value="{{ request.GET.location }}">
        </div>
        <div class="col-md-4 col-sm-12 d-flex align-items-center">
            <label for="open_to_work" class="form-label text-primary fw-bold">Disponibilidad para trabajar:</label>
            <select name="open_to_work" id="open_to_work" class="form-select border-primary rounded-3 shadow-sm">
                <option value="" {% if request.GET.open_to_work == "" %}selected{% endif %}>Todos</option>
                <option value="true" {% if request.GET.open_to_work == "true" %}selected{% endif %}>Sí</option>
                <option value="false" {% if request.GET.open_to_work == "false" %}selected{% endif %}>No</option>
            </select>
        </div>
        <div class="col-md-4 col-sm-12 d-flex align-items-center">
            <label for="vehicle" class="form-label text-primary fw-bold">Vehículo disponible:</label>
            <select name="vehicle" id="vehicle" class="form-select border-primary rounded-3 shadow-sm">
                <option value=""  {% if request.GET.vehicle == "" %}selected{% endif %}>Todos</option>
                <option value="true"  {% if request.GET.vehicle == "true" %}selected{% endif %}>Sí</option>
                <option value="false"  {% if request.GET.vehicle == "false" %}selected{% endif %}>No</option>
            </select>
        </div>
    </div>

    <div class="row g-3 mt-4">
        <div class="col-md-4 col-sm-12 d-flex align-items-center">
            <label for="disability" class="form-label text-primary fw-bold">Discapacidad:</label>
            <select name="disability" id="disability" class="form-select border-primary rounded-3 shadow-sm">
                <option value="" {% if request.GET.disability == "" %}selected{% endif %}>Todos</option>
                <option value="true" {% if request.GET.disability == "true" %}selected{% endif %}>Sí</option>
                <option value="false" {% if request.GET.disability == "false" %}selected{% endif %}>No</option>
            </select>
        </div>

        <div class="col-md-4 col-sm-12">
            <label for="disability_percentage" class="form-label text-primary fw-bold">Porcentaje de discapacidad:</label>
            <div class="input-group">
                <input type="number" name="disability_percentage" id="disability_percentage"
                       class="form-control border-primary rounded-3 shadow-sm"
                       placeholder="Ej. 20" min="0" max="100" step="1"
                       value="{{ request.GET.disability_percentage }}">
                <span class="input-group-text">%</span>
            </div>
        </div>

        <div class="col-md-4 col-sm-12 d-flex align-items-end">
            <button type="submit" class="btn custom-yellow-btn rounded-3 w-100 shadow-sm">Aplicar filtros</button>
        </div>
    </div>
</form>

      <!-- Lista de candidatos con checkboxes -->
      <form method="post" action="{% url 'manage_candidates' %}">
          {% csrf_token %}
          <div class="row">
              {% for candidate in candidates %}
                  <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
                      <div class="card candidate-card">
                          <div class="card-body">
                              <!-- Foto del candidato -->
                              {% if candidate.img_1_profile %}
                                  <!-- Usar imágenes de alta resolución para pantallas retina -->
                                  <img src="{{ candidate.img_1_profile }}" alt="{{ candidate.user.get_full_name }}" class="candidate-img mb-3">
                              {% else %}
                                  <img src="http://127.0.0.1:8000/media/profile_images/2.png" alt="Foto por defecto" class="candidate-img mb-3">
                              {% endif %}
                              
                              <!-- Información del candidato -->
                              <div class="candidate-info">
                                  <input type="checkbox" name="selected_candidates" value="{{ candidate.id }}" class="candidate-checkbox">
                                  <a href="{% url 'profile_view' candidate.id %}" class="candidate-name">
                                    {{ candidate.user.get_full_name }}
                                 </a>
                              </div>
                              <small class="candidate-address">{{ candidate.address }}</small>
                          </div>
                      </div>
                  </div>
              {% empty %}
                  <div class="col-12">
                      <div class="alert alert-warning">No hay candidatos que coincidan con los filtros.</div>
                  </div>
              {% endfor %}
               
          </div>

          <!-- Botones de acción -->
          <div class="btn-group">
              <button id="create-offer-btn" type="submit" name="action" value="create_offer" class="btn btn-success">Crear oferta a partir de seleccionados</button>
              <button id="add-to-offer-btn" type="submit" name="action" value="add_to_existing_offer" class="btn btn-warning">Agregar a oferta existente</button>
          </div>
      </form>

  </div>

  <!-- Script que deshabilita botones de crear o agregar oferta mientras no haya ningun caniddato seleccionado -->
  <script>
    document.addEventListener('DOMContentLoaded', function () {
        const checkboxes = document.querySelectorAll('.candidate-checkbox');
        const createOfferButton = document.getElementById('create-offer-btn');
        const addToOfferButton = document.getElementById('add-to-offer-btn');

        function toggleButtons() {
            const anyChecked = Array.from(checkboxes).some(checkbox => checkbox.checked);
            createOfferButton.disabled = !anyChecked;
            addToOfferButton.disabled = !anyChecked;
        }

        // Escuchar cambios en todos los checkboxes
        checkboxes.forEach(checkbox => {
            checkbox.addEventListener('change', toggleButtons);
        });

        // Inicializar estado de los botones al cargar la página
        toggleButtons();
    });
  </script>
{% include "chatbot/chat.html" %}
{% endblock %}
