.main-nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
}
.menu {
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu-item {
    position: relative;
    display: inline-block;
    margin: 0 10px;
}
.menu-link {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
}
.menu-item:hover > .menu-link {
    background-color: #555;
    border-radius: 5px;
}
.submenu {
    display: none;
    position: absolute;
    background-color: #555;
    padding: 10px;
    border-radius: 5px;
}
.menu-item:hover > .submenu {
    display: block;
}
.submenu-item {
    margin: 5px 0;
}
.submenu-link {
    display: block;
    text-decoration: none;
    color: white;
}
.submenu-link:hover {
    background-color: #777;
    border-radius: 5px;
}