
{% extends "users/base.html" %}
{% block title %} Home Page {% endblock title%}
{% load static %}
{% block content %}

    <!--====== HEADER PART ENDS ======-->
   
    <!--====== SEARCH BOX PART START ======-->
    
    <div class="search-box">
        <div class="serach-form">
            <div class="closebtn">
                <span></span>
                <span></span>
            </div>
            <form action="#">
                <input type="text" placeholder="Search by keyword">
                <button><i class="fa fa-search"></i></button>
            </form>
        </div> <!-- serach form -->
    </div>
    
    <!--====== SEARCH BOX PART ENDS ======-->
   
    <!--====== PAGE BANNER PART START ======-->
    
    <section id="page-banner" class="pt-105 pb-110 bg_cover" data-overlay="8" style="background-image: url(images/page-banner-2.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-banner-cont">
                        <h2>Our Courses</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Courses</li>
                            </ol>
                        </nav>
                    </div>  <!-- page banner cont -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>
    
    <!--====== PAGE BANNER PART ENDS ======-->
   
    <!--====== COURSES PART START ======-->
    
    <section id="courses-part" class="pt-120 pb-120 gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="courses-top-search">
                        <ul class="nav float-left" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="active" id="courses-grid-tab" data-toggle="tab" href="#courses-grid" role="tab" aria-controls="courses-grid" aria-selected="true"><i class="fa fa-th-large"></i></a>
                            </li>
                            <li class="nav-item">
                                <a id="courses-list-tab" data-toggle="tab" href="#courses-list" role="tab" aria-controls="courses-list" aria-selected="false"><i class="fa fa-th-list"></i></a>
                            </li>
                            <li class="nav-item">Showning {{total_courses}} courses</li>
                        </ul> <!-- nav -->
                        
                        <div class="courses-search float-right">
                            <form action="#">
                                <input type="text" placeholder="Search">
                                <button type="button"><i class="fa fa-search"></i></button>
                            </form>
                        </div> <!-- courses search -->
                    </div> <!-- courses top search -->
                </div>
            </div> <!-- row -->
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="courses-grid" role="tabpanel" aria-labelledby="courses-grid-tab">
                    <div class="row">
                        {% for course_info in page_obj.object_list %}
                        <!-- INICIO ESTRUCTURA CURSO-->
                        <div class="col-lg-4 col-md-6">
                            <div class="singel-course mt-30">
                                <div class="thum">
                                    <div class="image">
                                        <img src="{{course_info.course.image.url}}" alt="Course">
                                    </div>
                                    <div class="price">
                                        {%if course_info.course.is_free%}
                                            <span>Free</span>
                                            {%else%}
                                            <span>${{course_info.course.price}}</span>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="cont">
                                    <ul>
                                        <li>{{course_info.average_rating}}</li>
                                        {% if course_info.average_rating > 0 %}
                                        <li><i class="fa fa-star"></i></li>
                                        {%else%}
                                        <li><i class="far fa-star"></i></li>
                                        {% endif %}
                                    </ul>
                                    <span>({{course_info.course_reviews_count}} Reviews)</span>
                                    <a href="{% url 'courses:course-detail' pk=course_info.course.pk %}"><h4>{{course_info.course.title}}</h4></a>
                                    <div class="course-teacher">
                                        <div class="thum">
                                            <a href="#"><img src="{{course_info.course.profile_teacher.image.url}}" alt="teacher"></a>
                                        </div>
                                        <div class="name">
                                            <a href="#">
                                            <h6>
                                                {{course_info.course.profile_teacher.user.first_name}}
                                                {{course_info.course.profile_teacher.user.last_name}}
                                            </h6></a>
                                        </div>
                                        <div class="admin">
                                            <ul>
                                                {% if course_info.completed_users_count > 0 %}
                                                <li><a href="#"><i class="fa fa-user"></i><span>{{course_info.completed_users_count}}</span></a></li>
                                                {% else %}
                                                <li><a href="#"><i class="fa fa-user"></i><span>0</span></a></li>
                                                {% endif %}
                                                <li><a href="#"><i class="fa fa-heart"></i><span>{{course_info.course_wishlist_count}}</span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- singel course -->
                        </div>
                        {% endfor %}
                        <!-- FIN ESTRUCTURA CURSO-->
                    </div> <!-- row -->
                </div>
            </div> <!-- tab content -->
            <div class="row">
                <div class="col-lg-12">
                    <nav class="courses-pagination mt-50">
                        <ul class="pagination justify-content-center">
                            <li class="page-item">
                                <a href="#" aria-label="Previous">
                                    <i class="fa fa-angle-left"></i>
                                </a>
                            </li>
                            {% for page_num in page_obj.paginator.page_range %}
                            {% if page_num == page_obj.number %}
                                <li class="page-item"><a class="active" href="#">{{ page_num }}</a></li>
                            {% else %}
                                <li class="page-item"><a href="?page={{ page_num }}">{{ page_num }}</a></li>
                            {% endif %}
                            {% endfor %}
                            {% if page_obj.has_next %}
                            <li class="page-item">
                                <a href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a href="#" aria-label="Next">
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </li>
                        {% endif %}
                        </ul>
                    </nav>  <!-- courses pagination -->
                </div>
            </div>  <!-- row -->
        </div> <!-- container -->
    </section>
    
    <!--====== COURSES PART ENDS ======-->
   
    <!--====== FOOTER PART START ======-->

    {% endblock content %}