{% extends "users/base.html" %}
{% block title %} Home Page {% endblock title%}
{% block content %}
<h1>{{ lesson.title }}</h1>
<p>{{ lesson.description }}</p>

<h2>Recursos</h2>
<ul>
    {% for resource in resources %}
        <li>
            <a href="{{ resource.file.url }}">{{ resource.name }}</a>
            {% if resource.video_url %}
                <div>
                    <h4>Video:</h4>
                    <iframe width="560" height="315" src="{{ resource.video_url }}" frameborder="0" allowfullscreen></iframe>
                </div>
            {% endif %}
        </li>
    {% endfor %}
</ul>

<a href="{% url 'course-user-detail' course.id %}" class="btn btn-secondary">Volver</a>
<!-- <a href="{% url 'lesson-detail' course.id module.id next_lesson_id %}" class="btn btn-primary">Siguiente Lección</a> -->
{% endblock %}