{% extends "users/base.html" %}
{% block content %}
<div class="title pt-15">
    <h6>Leave A Comment</h6>
</div>
<div class="reviews-form">
    <form method='post'>
        {% csrf_token %}
        <div class="row">
            <div class="col-lg-12">
                <div class="form-singel">
                    <div class="rate-wrapper">
                        <div class="rate-label">Your Rating:</div>
                        {{form.rating}}
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-singel">
                    {{form.comment}}
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-singel">
                    <button type="submit" class="main-btn">Post Review</button>
                </div>
                <a href="{% url 'courses:course-detail' course.id %}" class="btn btn-secondary">Volver</a>
            </div>
        </div> <!-- row -->
    </form>
</div>
{% endblock %}