{% extends "users/base.html" %}
{% block title %} Home Page {% endblock title%}
{% load static %}



{%block navbar%}
{%include 'users/navbar.html'%}
{%endblock navbar%}
{% block content %}

    <!-- START CENTRAL CONTENT -->
        <div class="col-sm p-3 min-vh-100">
            <h6 class="mb-4">Mis Cursos</h5>

            <!-- Teacher Courses -->
            <div class="container">
                <div class="row g-3">
                    {% for course in teacher_courses %}
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
                        <div class="card shadow-sm" style="max-width: 300px; height: auto;">
                            <a href="{% url 'courses:teacher-course-detail' course.id %}"><img src="{{ course.image.url }}" class="card-img-top" alt="Course Image" style="height: 200px; object-fit: cover;"></a>
                            <div class="card-body">
                                <a href="{% url 'courses:teacher-course-detail' course.id %}"><h5 class="card-title">{{ course.title }}</h5></a>
                                <!-- <p class="card-text">{{ course.description|slice:":100"}}</p> -->
                                <a href="#url_activar_desactivar" class="btn btn-warning"><i class="bi bi-eye-slash" title="Desactivar"></i></a>
                                <a href="#url_delete" class="btn btn-danger"><i class="bi bi-trash" title="Delete"></i></a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- END CENTRAL CONTENT -->
{% endblock %}