{% extends 'base.html' %}

{% block title %}Soft skill List{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Soft Skill list</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for softskill in softskills %}
            <tr>
                <td>{{ softskill.soft_skill }}</td>
                <td>{{ softskill.description }}</td>
                <td>
                    <a class="btn btn-warning" href="{% url 'soft_skill_update' softskill.pk %}">Edit</a>
                    <a class="btn btn-danger" href="{% url 'soft_skill_delete' softskill.pk %}">Delete</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">No Users found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-primary" href="{% url 'soft_skill_create' %}">Add SoftSkill</a>
</div>
{% endblock %}