<nav class="navbar navbar-expand-lg">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>

  <div style="background-color: rgb(233, 248, 230);" class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a href="/">Dashboard</a>
      </li>

      <!-- <li class="nav-item">
              <a class="active" href="index-2.html">Home</a>
              <ul class="sub-menu">
                  <li><a class="active" href="index-2.html">Home 01</a></li>
                  <li><a href="index-3.html">Home 02</a></li>
                  <li><a href="index-4.html">Home 03</a></li>
              </ul>
          </li> -->
          <li class="nav-item">
            <a href="#about-part">My Profile</a>
          </li>
      <li class="nav-item">
        <a href="#course-part">My Courses</a>
        <ul class="sub-menu">
          <li><a href="/courses/courses">Create Course</a></li>
          <li><a href="/courses/resources">Create Module</a></li>
          <li><a href="/courses/resources">Create Lesson</a></li>
          <li><a href="/courses/resources">Create Resource</a></li>
          
        </ul>
      </li>
      
      <li class="nav-item">
        <a href="#about-part">My Resources</a>
      </li>
      
      <li class="nav-item">
        <a href="/back_to_home">Back to Home</a>
      </li>

    </ul>
  </div>
</nav> <!-- nav -->