<nav class="navbar navbar-expand-lg">
    <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>

    <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a href="/">Home</a>
            </li>

            <!-- <li class="nav-item">
                <a class="active" href="index-2.html">Home</a>
                <ul class="sub-menu">
                    <li><a class="active" href="index-2.html">Home 01</a></li>
                    <li><a href="index-3.html">Home 02</a></li>
                    <li><a href="index-4.html">Home 03</a></li>
                </ul>
            </li> -->
            <li class="nav-item">
                <a href="#about-part">About us</a>
            </li>
            <li class="nav-item">
                <a href="#course-part">Courses</a>
                <ul class="sub-menu">
                    <li><a href="/courses/courses">Courses</a></li>
                    <li><a href="/courses/resources">Resources</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="#course-part">Job Offers</a>
                {% if user.is_authenticated %}
                <ul class="sub-menu">
                    <li><a href="/headhunters/joboffers/">Job Offers</a></li>
                </ul>
                {%endif%}
            </li>
            <li class="nav-item">
                <a href="/quiz">Tests Skills</a>
            </li>
            <li class="nav-item">
                <a href="#news-part">Blog</a>
                <ul class="sub-menu">
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="#">Categories</a></li>
                </ul>
            </li>
           
            <li class="nav-item">
                <a href="contact.html">Contact</a>
                <ul class="sub-menu">
                    <li><a href="contact.html">Contact Us</a></li>
                    <li><a href="contact-2.html">Contact Us 2</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav> <!-- nav -->