{% extends 'base.html' %}
{% block title %}Add/Edit Language{% endblock %}
{% block content %}
    <div class="container">
        <h1>Confirm Delete Language</h1>
        <p>Are you sure you want to delete this language "{{ language.name }}"?</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Confirm</button>
            <a href="{% url 'language_list' %}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
{% endblock %}