{% extends "users/base.html" %}

{% block content %}
<div class="container mt-5">
    <!-- Encabezado -->
    <div class="header text-center mb-4">
        <h1 class="offer-title">{{ job_offer.title }}</h1>
        <p class="text-muted">Publicado: {{ job_offer.posted_date }}</p>
        <!--  Nombre del headhunter asociado a la oferta con link al perfil  -->
        <p class="text-muted">Headhunter: <a href="{% url 'headhunter_detail' job_offer.headhunter.id %}">{{ job_offer.headhunter.user.username }}</a></p>
        <p class="text-muted">Empresa: {{ job_offer.headhunter.company }}</p>
    </div>

    <!-- Información General -->
    <div class="row mb-4">
        <div class="col-md-6">
            <h5 class="section-title">Categoría:</h5>
            <p>{{ job_offer.category.name }}</p>
        </div>
        <div class="col-md-6">
            <h5 class="section-title">Sector:</h5>
            <p>{{ job_offer.sector.name }}</p>
        </div>
    </div>

    <!-- Descripción -->
    <div class="description mb-4">
        <h5 class="section-title">Descripción del Puesto:</h5>
        <p>{{ job_offer.description }}</p>
    </div>

    <!-- Detalles Adicionales -->
    <div class="details row mb-4">
        <div class="col-md-6">
            <h5 class="section-title">Ubicación:</h5>
            <p>{{ job_offer.location|default:"No especificada" }}</p>
        </div>
        <div class="col-md-6">
            <h5 class="section-title">Salario:</h5>
            <p>{{ job_offer.salary|default:"A convenir" }}</p>
        </div>
        <div class="col-md-6">
            <h5 class="section-title">Experiencia Requerida:</h5>
            <p>{{ job_offer.required_experience|default:"No especificada" }} años</p>
        </div>
        <div class="col-md-6">
            <h5 class="section-title">Fecha de Cierre:</h5>
            <p>{{ job_offer.close_date|default:"Abierta hasta nuevo aviso" }}</p>
        </div>
    </div>

    <!-- Habilidades Requeridas -->
    <div class="skills mb-4">
        <h5 class="section-title">Habilidades Requeridas:</h5>
        <div class="row">
            <div class="col-md-6">
                <h6 class="sub-title">Habilidades Técnicas:</h6>
                <ul>
                    {% for hard_skill in job_offer.required_hard_skills.all %}
                    <li>{{ hard_skill.name }}</li>
                    {% empty %}
                    <li>No especificadas</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-6">
                <h6 class="sub-title">Habilidades Blandas:</h6>
                <ul>
                    {% for soft_skill in job_offer.required_soft_skills.all %}
                    <li>{{ soft_skill.name }}</li>
                    {% empty %}
                    <li>No especificadas</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <!-- Tests Relacionados -->
    <div class="tests mb-4">
        <h5 class="section-title">Tests Relacionados:</h5>
        <ul>
            {% for test in joboffer.JobOfferTests.all %}
            <li>{{ test.name }}</li>
            {% empty %}
            <li>No hay tests asociados a esta oferta.</li>
            {% endfor %}
        </ul>
    </div>

    {% if request.user == job_offer.headhunter.user %}
    <!-- Ver una lista de los candidatos relacionados a la oferta -->
    <div class="candidates mb-4">
        <h3 class="text-center mb-3">Candidatos Seleccionados por Headhunter</h3>
        
        {% if selected_candidates %}
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Nombre</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for management_candidate in selected_candidates %}
                    <tr>
                        <td>{{ management_candidate.candidate.user.username }}</td>
                        <td>{{ management_candidate.status.name }}</td>
                        <td>
                            <div class="d-flex justify-content-center">
                                <!-- Botón para Eliminar -->
                                <a href="{% url 'delete_candidate' management_candidate.pk %}" class="btn btn-danger btn-sm">Eliminar</a>
                                <!-- Botón para Agendar Cita -->
                                <a href="{% url 'schedule_create' %}?joboffer_id={{ job_offer.id }}&candidate_id={{ management_candidate.candidate.id }}" 
                                    class="btn btn-primary btn-sm mx-1">
                                    Agendar Cita
                                </a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <p class="text-center text-muted">No hay candidatos seleccionados por el headhunter.</p>
        {% endif %}

        <h3 class="text-center mb-3 mt-5">Candidatos por Aplicación Directa</h3>

        {% if direct_applicants %}
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Nombre</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for management_candidate in direct_applicants %}
                    <tr>
                        <td>{{ management_candidate.candidate.user.username }}</td>
                        <td>{{ management_candidate.status.name }}</td>
                        <td>
                            <div class="d-flex justify-content-center">
                                <!-- Botón para Eliminar -->
                                <a href="{% url 'delete_candidate' management_candidate.pk %}" class="btn btn-danger btn-sm">Eliminar</a>
                                <!-- Botón para Agendar Cita -->
                                <a href="{% url 'schedule_create' %}?joboffer_id={{ job_offer.id }}&candidate_id={{ management_candidate.candidate.id }}" 
                                    class="btn btn-primary btn-sm mx-1">
                                    Agendar Cita
                                </a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <p class="text-center text-muted">No hay candidatos que se hayan postulado directamente.</p>
        {% endif %}

        <!-- Botones de Acción -->
        <div class="actions text-center mt-4">
            <a href="{% url 'joboffer_update' job_offer.id %}" class="btn btn-warning btn-sm">Editar</a>
            <a href="{% url 'joboffer_delete' job_offer.id %}" class="btn btn-danger btn-sm">Eliminar</a>
            <button class="btn btn-primary btn-sm">Añadir a Favoritos</button>
        </div>
    </div>
    {% else %}
    <div class="actions text-center mt-5 mb-5">
        <a href="{% url 'joboffer_list' %}" class="btn btn-secondary btn-sm">Volver a Ofertas</a>
    </div>
    
    {% endif %}
</div>
{% endblock %}
