{% extends "role_management/dashboard.html" %}
            {% block role_menu%}

            <div class="col-lg-4 col-md-8 col-sm-6 col-4">
                <!-- <div class="right-icon text-right"> -->
                <!-- Left links -->

                <!-- <li><a href="#" id="search"><i class="fa fa-search"></i></a></li> -->
                   
                {% if menu.subitem %}
                <ul class="d-flex flex-row justify-content-end align-items-end justify-content-end">
                    {% for subitem in item.submenu %}
                    <li><a class="dropdown-item" href="{{ subitem.url }}">{{ subitem.name }}</a></li>
                    <li class="nav-item bg-warning p-3">
                        <a class="nav-link active d-flex flex-column text-center" aria-current="page"
                            href="{{ subitem.url }}"><i class="bi bi-envelope"></i>
                            <span class="small">{{ subitem.name }}</span></a>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}

            </div>
            {%endblock role_menu %}
