{% extends "role_management/dashboard_teacher.html" %}
{% block title %} Home Page {% endblock title%}
{% load static %}

{% block role_menu%}

<div class="col-lg-4 col-md-8 col-sm-6 col-4">
    <!-- <div class="right-icon text-right"> -->
            <!-- Left links -->
        
            <!-- <li><a href="#" id="search"><i class="fa fa-search"></i></a></li> -->
            <ul class="d-flex flex-row justify-content-end align-items-end justify-content-end">

                <li class="nav-item bg-warning p-3">
                    <a class="nav-link active d-flex flex-column text-center" aria-current="page" href="/messaging/inbox"><i
                            class="bi bi-inbox-fill"></i><span class="small">Inbox Chat</span></a>
                </li>
                <li class="nav-item bg-warning p-3">
                    <a class="nav-link active d-flex flex-column text-center" aria-current="page" href="/messaging/send"><i
                            class="bi bi-envelope"></i><span class="small">Send Chat</span></a>
                </li>
                <li class="nav-item bg-warning p-3">
                    <a class="nav-link active d-flex flex-column text-center" aria-current="page" href="/messaging/sent"><i
                            class="bi bi-inboxes"></i><span class="small">Sent Chat</span></a>
                </li>
            </ul>

            
        
        <!-- </div> -->
</div>
{%endblock role_menu %}


                        
                    
