{% extends "users/base.html" %}
{% block title %} Home Page {% endblock title%}
{% load static %}
<!--====== HEADER PART ENDS ======-->
{% block menu_util %}
{% if user.is_authenticated %}
<div class="header-top text-lg-right text-center ">
    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-3">
                <p class="text-warning">
                    {% if user_duckycoins is not None %}
                    <img style="width: 5%;height: 5%;" src="{% static 'images/ducky2.png' %}" alt="ducky">
                    : <strong>{{ user_duckycoins }} DuckyCoins</strong>
                    {% endif%}
                </p>
            </div>

            <div class="col-lg-3">
                <p class="text-warning">
                    Welcome , {{ user.first_name|default:"Guest" }} {{ user.last_name|default:" " }} (premium)

                </p>
            </div>
            <div class="col-lg-3 mt-1">
                {% if user_duckycoins > -1 %}
                <a href="{% url 'transaction_list' %}" class="position-relative text-decoration-none ms-3">
                    <i class="bi bi-award fs-4 text-warning"></i>
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                        {{ user_duckycoins }}
                        <span class="visually-hidden">DuckyCoins</span>
                    </span>
                </a>
                {%endif%}
                <!-- </div>
            <div class="col-lg-3"> -->
                {% if unread_messages_count > 0 %}
                <a href="{% url 'inbox' %}" class="position-relative text-decoration-none ms-3">
                    <i class="bi bi-envelope-fill fs-4 text-warning"></i>
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                        {{ unread_messages_count }}
                        <span class="visually-hidden">unread messages</span>
                    </span>
                </a>
                {%endif%}
            </div>
            <div class="col-lg-3 mt-1">


                {% if user.is_authenticated %}
                <!-- User Profile Image -->
                <div class="dropdown float-end">
                    <a href="/role"
                        class="d-flex align-items-center justify-content-center link-warning text-decoration-none dropdown-toggle"
                        id="dropdownUser3" data-bs-toggle="dropdown" aria-expanded="false">
                        {% if profile_user.image %}
                        <img class="thum-red" src="{{ profile_user.image.url }}" alt="User"
                            style="border-radius: 50%; width: 50px; height: 50px;">

                        {%else %}
                        <i class="bi bi-person-bounding-box text-warning" style="font-size: 30px; "></i>
                        {%endif%}
                    </a>

                    <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser3">
                        <li><a class="dropdown-item" href="/">Home</a></li>
                        <li><a class="dropdown-item" href="#">Dashboard</a></li>
                        <li><a class="dropdown-item" href="#">Perfil</a></li>
                        <li><a class="dropdown-item" href="/gaming/transactions">DuckyCoins</a></li>
                        <li><a class="dropdown-item" href="/logout">Logout</a></li>


                    </ul>

                </div>
                {% else %}
                <div class="support-button float-end d-none d-md-block">
                    <div class="button float-end">




                        <a class="main-btn" href="{% url 'login' %}">Sign in</a>

                    </div>
                </div>
                {%endif%}


            </div>

        </div>
    </div>
</div>
{%endif%}
{% endblock menu_util%}
{%block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light ">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Duckyways</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <!-- Menú principal -->
            <ul class="navbar-nav me-auto">
                {% for item in menu %}
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0);" onclick="showSubmenu('{{ forloop.counter }}')">
                            {{ item.name }}
                        </a>
                        
                    </li>
                    
                {% endfor %}
            </ul>
            
            <ul class="d-flex flex-row justify-content-end align-items-end justify-content-end">

            <!-- Subítems como botones -->
            <div class="d-flex ms-auto">
                {% for item in menu %}
                    {% if item.submenu %}
                        <div id="submenu-{{ forloop.counter }}" class="submenu-buttons d-none">
                            <ul class="d-flex flex-row justify-content-end align-items-end justify-content-end">

                            {% for subitem in item.submenu %}
                            <li class="nav-item bg-warning p-3">
                                <!-- <a href="{{ subitem.url }}" class="btn btn-outline-primary mx-2">
                                    {{ subitem.name }}
                                </a> -->
                                <a class="nav-link active d-flex flex-column text-center" aria-current="page"
                                href="{{ subitem.url }}"><i class="{{subitem.icon}} fs-3 "></i>
                                <span class="small">{{ subitem.name }}</span></a>
                            </li>
                            {% endfor %}
                        </ul>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

    </div>
</nav>  


<script>
    function showSubmenu(id) {
        // Ocultar todos los submenús
        const allSubmenus = document.querySelectorAll('.submenu-buttons');
        allSubmenus.forEach(submenu => submenu.classList.add('d-none'));

        // Mostrar el submenú correspondiente
        const submenu = document.getElementById(`submenu-${id}`);
        if (submenu) {
            submenu.classList.toggle('d-none');
        }
    }
</script>


{%endblock navbar %}

{%block content%}
{%endblock}